body {
  background-color: black;
}

p {
  font-size: 20px;
  color: white;
  margin-top: 50px;
}

div {
  display: flex;
  justify-content: center;
}

img {
  margin-top: 20px;
}

button {
  height: 35px;
  width: 100px;
  font-size: 14px;
}
